<header>
    <div id="nav" class="nav-part shadow-md bg-white">
      <div class="container-lg">
        <div class="row p-2">
          <div class="col-lg-4 p-2">
            <div class="d-flex align-items-center">
              <img src="assets/images/bee.png" alt="Logo" class="max-width me-1">
              <p class="fs-3 fw-bolder">COOL HONEY</p>
            </div>
          </div>
          <div id="nav-list" class="col-lg-8 d-none d-lg-block">
            <ul class="list-unstyled fw-bold float-end fs-7">
              <li class="float-start p-3 px-4">Home</li>
              <li class="float-start p-3 px-4">About Us</li>
              <li class="float-start p-3 px-4">Products</li>
              <li class="float-start p-3 px-4">Blog</li>
              <li class="float-start p-3 px-4">Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</header>
  
