<div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/slider/s1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <div class="row">
              <div class="col-lg-6 text-start">
                <h1 class="fs-12 fw-bolder text-start">Natural Honey <br><span class="text-primary">online shop</span></h1>
                <p class="text-dark d-none d-md-block text-start">There are many different varieties of flower honey available… Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac laoreet lacus. Morbi auctor quam tempus massa vestibulum aliquet eu vitae ligula.</p>
                <div class="d-inline-block pt-5 text-start d-none d-lg-block">
                  <button class="btn btn-primary shadow fs-5 fw-bolder px-5 py-2">Buy Now</button>
                  <button class="btn btn-outline-primary ms-4 shadow fs-5 fw-bolder px-5 py-2">Buy Now</button>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block">
                <img class="w-100" src="assets/images/honey.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button">
            <span class="carousel-control-prev-icon" aria-hidden="true"><i class="bi fs-4 bi-chevron-left"></i></span>
          </button>
          <button class="carousel-control-next" type="button">
            <span class="carousel-control-next-icon" aria-hidden="true"><i class="bi fs-4 bi-chevron-right"></i></span>
        </button>
    </div>
    <div class="container-fluid pt-3">
      <div class="container-xl">
        <div class="section-title row">
          <h2 class="fs-1 fw-bold">Why Choos our Honey</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor ipsum dolor sit amet, consectetuer adipiscing elit consectetuer adipiscing elit. Aenean commodo.</p>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3 mb-4 col-md-6">
            <div class="cover text-center">
              <img class="w-90" src="assets/images/icon/honeycomb.png" alt="">
              <h2 class="fs-3 fw-bolder mt-4">Organic Honey</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh.</p>
            </div>
          </div>
          <div class="col-lg-3 mb-4 col-md-6">
            <div class="cover text-center">
              <img class="w-90" src="assets/images/icon/bee.png" alt="">
              <h2 class="fs-3 fw-bolder mt-4">Queen Bee Honey</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh.</p>
            </div>
          </div>
          <div class="col-lg-3 mb-4 col-md-6">
            <div class="cover text-center">
                <img class="w-90" src="assets/images/icon/honey.png" alt="">
              <h2 class="fs-3 fw-bolder mt-4">Hygienic Packing</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh.</p>
            </div>
          </div>
          <div class="col-lg-3 mb-4 col-md-6">
            <div class="cover text-center">
              <img class="w-90" src="assets/images/icon/fast.png" alt="">
              <h2 class="fs-3 fw-bolder mt-4">Fast Delivery</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus mollis malesuada. Sed suscipit, tortor nec sollicitudin tincidunt nibh.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    


  
